@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  caret-color: indianred;
}

html,
body {
  background-color: #09090b; /* Полная прозрачность */
  margin: 0;
  height: 100%;
  overflow: hidden;
}

#app {
  /* Принудительный черный фон, чтобы окно стало видно */
  overflow: hidden;
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  color: #ffffff;
  overflow: hidden; /* Чтобы не было скролла у всего окна */
}

/* Кастомный скроллбар */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
